In [ ]:
# 1.Ans.
For loop:
Use a for loop when you want to iterate over a sequence
(such as a list, tuple, or string) and perform the same action
for each item in the sequence.
 Example :-
    l1 = ["shubh","kumar","sk","skm"]
    for i in l1 :
        print(i)
        
While loop:
Use a while loop when you want to keep 
repeating an action until a certain condition is met.
 Example:-
    i = 0
    while i < 10:
        print(i)
        i+=1

In [20]:
 # 2.Ans.
    # Using For loop sum and product  of first 10 natural numbers
  
sum = 0
for i in range(11):
    sum = sum + i
sum



product = 1
for i in range(1,11):
    product = product*i
product

3628800

In [5]:
# 2.Ans.
# Using While loop sum and product of first 10 natural numbers

sum = 0
count = 1
while count <= 10:
    sum+=count
    count+=1
sum


product = 1
count = 1
while count <= 10:
    product = product*count
    count+=1
product

3628800

In [10]:
# 3.Ans.
units = int(input("Enter the unit consumption"))
if units <= 100 :
    print(units*4.5)
elif units <= 200 :
    print(100*4.5 + (units-100)*6)
elif units <= 300:
    print(100*4.5 + 100*6 + (units-200)*10)
else :
    print(100*4.5 + 100*6 + 100*10 + (units-300)*20)

Enter the unit consumption 310

2250.0

In [14]:
# 4.Ans.
# Using For Loop
cubes_using_For = []
for i in range(1,101):
    cube = i**3
    if (cube % 4 == 0) or (cube % 5 == 0):
        cubes_using_For.append(cube)

print("Cubes divisible by 4 or 5  ", cubes_using_For)

Cubes divisible by 4 or 5   [8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [15]:
# 4.Ans.
# Using While loop
cubes_using_while = []
i = 1
while i <= 100:
    cube = i**3
    if (cube % 4 == 0) or (cube % 5 == 0):
        cubes_using_while.append(cube)
    i += 1

print("Cubes divisible by 4 or 5  ", cubes_using_while)

Cubes divisible by 4 or 5   [8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [19]:
# 5.Ans.
str =  "I want to become a data scientist"
for char in str:
    if char.lower() in 'aeiou':
        print(char)

I
a
o
e
o
e
a
a
a
i
e
i